<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{order}+#{title.detail}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="admin">
	<h2 th:class="title" th:text="#{order}+#{title.detail}"></h2>

	<div class="info_form_area">
		<table class="detail_table payment" th:object="${order}">
			<tr>
				<th>[[#{user}+#{userForm.name}]]</th>
				<td th:text="*{userName}"></td>
			</tr>
			<tr>
				<th>[[#{data.order.date}]]</th>
				<td th:text="*{insertDate}"></td>
			</tr>
			<tr>
				<th>[[#{data.paymethod}]]</th>
				<td th:switch="*{payMethod}">
					<span th:case="1">[[#{paymethod.credit.str}]]</span>
					<span th:case="2">[[#{paymethod.bank.str}]]</span>
					<span th:case="3">[[#{paymethod.onarrival.str}]]</span>
					<span th:case="4">[[#{paymethod.emoney.str}]]</span>
					<span th:case="5">[[#{paymethod.convenience.str}]]</span>
				</td>
			</tr>
			<tr>
				<th>[[#{data.address}+#{data.address.postalcode}]]</th>
				<td th:text="*{postalCode}"></td>
			</tr>
			<tr>
				<th>[[#{data.address}+#{data.address.address}]]</th>
				<td th:text="*{address}"></td>
			</tr>
			<tr>
				<th>[[#{data.address}+#{data.address.name}]]</th>
				<td class="value" th:text="*{name}"></td>
			</tr>
			<tr>
				<th>[[#{data.address}+#{data.address.phonenumber}]]</th>
				<td class="value" th:text="*{phoneNumber}"></td>
			</tr>
			<form th:action="@{/admin/order/detail/{id}(id=${order.id})}" method="post" th:object="${trackingForm}">
				<tr>
					<th>配達番号</th>
					<td th:unless="${tracking.trackingNumber}">
						<input type="text" th:field="*{trackingNumber}">
						<p th:text="#{msg.tracking.mumber.isExist}" th:if="${TrackingNumberIsExist != null}"></p>
					</td>
					<div th:if="${#fields.hasErrors()}">
						<ul class="error_list">
							<li th:each="err:${#fields.detailedErrors()}" th:text="${err.message}"></li>
						</ul>
					</div>
					<td th:if="${tracking.trackingNumber}" th:text="${tracking.trackingNumber}"></td>
					<input th:if="${tracking.trackingNumber}" type="hidden" th:field="*{trackingNumber}" />
				</tr>
				<tr>
					<th>配達状況</th>
					<td>
						<div class="trackingSelector">
							<select name="trackingStatus" th:field="*{status}">
								<option th:value="0" th:text="'注文済み'" th:selected="${tracking.status == 0}">注文済み
								</option>
								<option th:value="1" th:text="'発送済み'" th:selected="${tracking.status == 1}">発送済み
								</option>
								<option th:value="2" th:text="'配達中'" th:selected="${tracking.status == 2}">配達中
								</option>
								<option th:value="3" th:text="'配達済み'" th:selected="${tracking.status == 3}">配達済み
								</option>
							</select>
							<input type="submit" class="trackingButton" value="更新" />
						</div>
					</td>
				</tr>
			</form>
		</table>

		<table class="list_table detail">
			<tr>
				<th>[[#{data.item.name}]]</th>
				<th>[[#{data.unit.price}]]</th>
				<th>[[#{data.order.num}]]</th>
				<th>[[#{data.subtotal}]]</th>
			</tr>
			<tr th:each="orderItem: ${orderItemBeans}">
				<td th:text="${orderItem.name}"></td>
				<td th:text="${orderItem.price}"></td>
				<td th:text="${orderItem.orderNum}"></td>
				<td th:text="${orderItem.subtotal}"></td>
			</tr>
			<tr>
				<td colspan="2"></td>
				<td class="total">[[#{data.total}]]</td>
				<td th:text="${total}"></td>
			</tr>
		</table>
		<form th:action="@{/admin/order/list}" method="post" class="detail_button_area">
			<input type="submit" value="戻る" class="back_button" />
		</form>
	</div>
</body>

</html>