<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<script type="text/javascript" th:src="@{/js/utilities.js}"></script>
</head>

<body>
	<aside th:fragment="layout-sidebar"
		th:class="${session.user == null || session.user.authority == 2 ? 'search' : 'admin_menu'}">
		<!-- 検索メニュー(非会員、一般会員用) -->
		<div class="search_area" th:if="${session.user == null || session.user.authority == 2}">
			<h2 th:class="title" th:text="#{category.select.title}"></h2>
			<div class="form">
				<!-- 商品一覧画面以外で表示 -->
				<form th:if="${sortType == null}" th:action="@{/client/item/list/1}">
					<select name="categoryId">
						<option th:value="#{constants.category.select.none.no}"
							th:text="#{constants.category.select.none}"></option>
						<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
						</option>
					</select>
					<input type="submit" th:value="#{select}" />
				</form>
				<!-- 商品一覧画面上で表示 -->
				<form th:unless="${sortType == null}" action="**?**">
					<select name="categoryId">
						<option th:value="#{constants.category.select.none.no}"
							th:text="#{constants.category.select.none}"></option>
						<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"
							th:selected="${category.id == categoryId}"></option>
					</select>
					<input type="hidden" name="loPrice" th:value="${loPrice}" />
					<input type="hidden" name="hiPrice" th:value="${hiPrice}" />
					<input type="submit" th:value="#{select}"
						th:formaction="@{/client/item/list/{sortType}(categoryId=${categoryId},loPrice=${loPrice},hiPrice=${hiPrice},sortType=${sortType})}" />
				</form>
			</div>
			<!-- 価格別検索 -->
			<h2 th:class="title" th:text="#{price.select.title}"></h2>
			<div>
				<!-- 商品一覧画面以外で表示 -->
				<form th:if="${sortType == null}" th:action="@{/client/item/list/1(loPrice=${loPrice},hiPrice=${hiPrice},sortType=${sortType})}">
					<div class="wrapper">
						<div class="price-input">
							<div class="field">
								<input type="number" class="input-min" value="0" name="loPrice">
							</div>
							<div class="separator">-</div>
							<div class="field">
								<input type="number" class="input-max" value="10000" name="hiPrice">
							</div>
							</select>
							<input type="submit" th:value="#{select}" />
						</div>
						<div class="slider">
							<div class="progress"></div>
						</div>
						<div class="range-input">
							<input type="range" class="range-min" min="0" max="10000" value="0" step="100">
							<input type="range" class="range-max" min="0" max="10000" value="100000" step="100">
						</div>
					</div>
				</form>
				<!-- 商品一覧画面上で表示 -->
				<form th:unless="${sortType == null}" th:action="@{/client/item/list/{sortType}(categoryId=${categoryId},loPrice=${loPrice},hiPrice=${hiPrice},sortType=${sortType})}">
					<div class="wrapper">
						<div class="price-input">
							<div class="field">
								<input type="number" class="input-min" value="0" name="loPrice">
							</div>
							<div class="separator">-</div>
							<div class="field">
								<input type="number" class="input-max" value="10000" name="hiPrice">
							</div>
							</select>
							<input type="hidden" name="categoryId" th:value="${categoryId}" />
							<input type="submit" th:value="#{select}" />
						</div>
						<div class="slider">
							<div class="progress"></div>
						</div>
						<div class="range-input">
							<input type="range" class="range-min" min="0" max="10000" value="0" step="100">
							<input type="range" class="range-max" min="0" max="10000" value="100000" step="100">
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- メニュー(運用管理者、及びシステム管理者用) -->
		<div th:if="${session.user != null and session.user.authority != 2}">
			<h2 th:class="title" th:text="#{admin.menu}"></h2>
			<ul class="menu">
				<li>
					<a th:href="@{/admin/user/list}" th:class="display_list" th:text="#{admin.menu.user.list}"></a>
				</li>
				<li th:if="${session.user.authority == 1}">
					<a th:href="@{/admin/order/list}" th:class="display_list" th:text="#{admin.menu.order.list}"></a>
				</li>
				<li th:if="${session.user.authority == 1}">
					<a th:href="@{/admin/item/list}" th:class="display_list" th:text="#{admin.menu.item.list}"></a>
				</li>
				<li th:if="${session.user.authority == 1}">
					<a th:href="@{/admin/category/list}" th:class="display_list"
						th:text="#{admin.menu.category.list}"></a>
				</li>
			</ul>
		</div>
	</aside>
</body>

</html>